<app-selection-dialog
  [visible]="visible()"
  [options]="selectableGroups()"
  [title]="prompt()"
  keyboardHint="Press A-D to select, ESC to cancel"
  [allowArrowNavigation]="false"
  [showShortcuts]="false"
  (optionSelected)="onOptionSelected($event)"
  (cancelled)="onCancelled()"
>
  <ng-template #itemTemplate let-group>
    <div class="group-item-content" [attr.data-group]="group.id">
      <span class="group-letter">{{ group.id }})</span>
      <span class="group-name">{{ group.displayName }}</span>
    </div>
  </ng-template>
</app-selection-dialog>
