<div class="active-spells">
  <div class="spells-title">Active Spells:</div>
  @if (spells().length === 0) {
    <div class="no-spells">No active spells</div>
  } @else {
    <div class="spell-list">
      @for (spell of spells(); track spell.name) {
        <div class="spell-item">
          <span class="spell-icon">{{ spell.icon }}</span>
          <div class="spell-info">
            <div class="spell-name">{{ spell.name }}</div>
            <div class="spell-description">{{ spell.description }}</div>
          </div>
        </div>
      }
    </div>
  }
</div>
